<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeenms.fastapp">
    <!-- 联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 使用存储卡 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- Html5Plus runtime基础权限   end -->

    <!-- Device begin -->
    <!-- 屏幕保持唤醒 不锁屏  plus.device.setWakelock();plus.device.isWakelock(); -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 震动 权限 plus.device.vibrate(); -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 拨打电话 plus.device.dail(); -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 访问网络状态 plus.networkinfo.* -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读写手机状态和身份 plus.devices.* -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Device end -->

    <!-- Invocation - JSB begin -->
    <!-- 调用系统API，通过Native.js调用系统API需要的权限添加到这里 -->
    <!-- 安装快捷方式 -->
    <!-- 卸载快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- Invocation - JSB end -->


    <!-- Barcode(二维码)  begin -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- Barcode(二维码)  end -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.jeenms.app.WebAppActivity" android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jeenms.app.WebViewActivity" android:launchMode="standard">
        </activity>

    </application>

</manifest>